	<div id="content">
		<div class="sales-label">
		</div>
		
		<!-- Promo Begin -->
		<div class="promo-inner" id="promo">
		
			<!-- main navigator -->
			
			<ul id="main_navi">
			
				<li class="first">
					<img src="{$Think.const.IMG_URL}slide_small1.jpg">
					<span class="title">What Is My Color</span>
					Lorem ipsum dolor sit amet
				</li>
				<li class="">
					<img src="{$Think.const.IMG_URL}slide_small2.jpg">
					<span class="title">Full Set Of Features</span>
					Nulla sit amet nunc non nibh faucibus
				</li>
				<li class="active">
					<img src="{$Think.const.IMG_URL}slide_small3.jpg">
					<span class="title">Dreams In Purple</span>
					Phasellus elefend, enim non euismod lacinia
				</li>
				<li class="last">
					<img src="{$Think.const.IMG_URL}slide_small4.jpg">
					<span class="title">Red For Passion</span>
					Class aptent taciti sociosqu it litora
				</li>
			</ul>
			
			<!-- root element for the main scrollable -->
			<div id="main">
			
				<!-- root element for pages -->
				<div style="top: -940px;" id="pages">
			
					<!-- page #1 -->
					<div class="page">
			
						<!-- sub navigator #1 -->
						<div class="navi"><a class="nivo-control active"></a><a></a><a></a></div>
			
						<!-- inner scrollable #1 -->
						<div class="scrollable">
			
							<!-- root element for scrollable items -->
							<div class="items">
			
								<!-- items  -->
								<div class="item">
									<img src="{$Think.const.IMG_URL}promo1.jpg">
								</div>
								<div class="item">
									<img src="{$Think.const.IMG_URL}promo4.jpg">
								</div>
								<div class="item">
									<img src="{$Think.const.IMG_URL}promo5.jpg">
								</div>
			
								</div>
			
						</div>
			
					</div>
			
					<!-- page #2 -->
					<div class="page">
			
						<div class="navi"><a class="active"></a><a></a><a></a></div>
			
						<!-- inner scrollable #2 -->
						<div class="scrollable">
			
							<!-- root element for scrollable items -->
							<div class="items">
			
								<!-- items on the second page -->
							<div class="item">
									<img src="{$Think.const.IMG_URL}promo2.jpg">
								</div>
								<div class="item">
									<img src="{$Think.const.IMG_URL}promo4.jpg">
								</div>
								<div class="item">
									<img src="{$Think.const.IMG_URL}promo5.jpg">
								</div>
			
							</div>
			
						</div>
			
					</div>
					
					<!-- page #3 -->
					<div class="page">
			
						<div class="navi"><a class="active"></a><a></a><a></a></div>
			
						<!-- inner scrollable #2 -->
						<div class="scrollable">
			
							<!-- root element for scrollable items -->
							<div class="items">
			
								<!-- items on the second page -->
								<div class="item">
									<img src="{$Think.const.IMG_URL}promo4.jpg">
								</div>
								<div class="item">
									<img src="{$Think.const.IMG_URL}promo2.jpg">
								</div>
								<div class="item">
									<img src="{$Think.const.IMG_URL}promo5.jpg">
								</div>
			
							</div>
			
						</div>
			
					</div>
			
					<!-- page #4 -->
					<div class="page">
			
						<div class="navi"><a class="active"></a><a></a><a></a></div>
			
						<!-- inner scrollable #3 -->
						<div class="scrollable">
			
							<!-- root element for scrollable items -->
							<div class="items">
			
								<!-- items on the first page -->
							<div class="item">
									<img src="{$Think.const.IMG_URL}promo3.jpg">
								</div>
								<div class="item">
									<img src="{$Think.const.IMG_URL}promo4.jpg">
								</div>
								<div class="item">
									<img src="{$Think.const.IMG_URL}promo5.jpg">
								</div>
			
							</div>
			
						</div>
			
					</div>
					<!-- End page 4 -->
					
				</div>
			
			</div>

		</div>
		<!-- End Promo -->

		<div class="shadow"></div>
		<!-- Promo End -->
		
		<!-- Message Begin -->
		
		<div class="message">
			Welcome to this great and sophisticated e-shop. We have prepared an enormous set of features for you!
		</div>
		
		<!-- Message End -->
		
		<!-- Bestsellers Begin -->
		<div class="content-top">
		</div>
		
		<div class="content-inner home">
			
			<div id="slider-container">
				
			<div class="slider-nav">
				<a class="prev2"></a>
				<a class="next2"></a>
			</div>

				<div class="slider">   
					
				   <!-- Listing of the elements of the slider -->
				   <div class="items">
				   
					  <!-- 1-4 -->
					  <div class="group-items">
						 <div class="single-item">
							<span class="title"><a href="details.html">Great New Perfume for Her</a></span>
							<span class="price">$149.90</span>
							<img src="{$Think.const.IMG_URL}product1.png" alt="Item"/>
							<a href="#" class="general-button float-left"><span class="button">Add to cart</span></a>
							<span class="list-link">
								<a href="details.html" class="regular">View more...</a>
							</span>
							<br class="clear"/>
						</div>
						
						<div class="single-item">
							<span class="title"><a href="details.html">Aroma Accattivante</a></span>
							<span class="price">$29</span>
							<img src="{$Think.const.IMG_URL}product2.png" alt="Item"/>
							<a href="#" class="general-button float-left"><span class="button">Add to cart</span></a>
							<span class="list-link">
								<a href="details.html" class="regular">View more...</a>
							</span>
							<br class="clear"/>
						</div>
						
						<div class="single-item">
							<span class="title"><a href="details.html">Delight in Orange and Yellow</a></span>
							<span class="price">$23</span>
							<img src="{$Think.const.IMG_URL}product3.png" alt="Item"/>
							<a href="#" class="general-button float-left"><span class="button">Add to cart</span></a>
							<span class="list-link">
								<a href="details.html" class="regular">View more...</a>
							</span>
							<br class="clear"/>
						</div>
						
						<div class="single-item">
							<span class="title"><a href="details.html">Kiss in the Rain</a></span>
							<span class="price">$129.90</span>
							<img src="{$Think.const.IMG_URL}product5.png" alt="Item"/>
							<a href="#" class="general-button float-left"><span class="button">Add to cart</span></a>
							<span class="list-link">
								<a href="details.html" class="regular">View more...</a>
							</span>
							<br class="clear"/>
						</div>
					  </div>
					  
					  <!-- 4-8 -->
					  <div class="group-items">
						 <div class="single-item">
							<span class="title"><a href="details.html">Aroma Dolce</a></span>
							<span class="price">$149.90</span>
							<img src="{$Think.const.IMG_URL}product4.png" alt="Item"/>
							<a href="#" class="general-button float-left"><span class="button">Add to cart</span></a>
							<span class="list-link">
								<a href="details.html" class="regular">View more...</a>
							</span>
							<br class="clear"/>
						</div>
						
						<div class="single-item">
							<span class="title"><a href="details.html">Wind of Spring</a></span>
							<span class="price">$29</span>
							<img src="{$Think.const.IMG_URL}product2.png" alt="Item"/>
							<a href="#" class="general-button float-left"><span class="button">Add to cart</span></a>
							<span class="list-link">
								<a href="details.html" class="regular">View more...</a>
							</span>
							<br class="clear"/>
						</div>
						
						<div class="single-item">
							<span class="title"><a href="details.html">Great New Perfume for Her</a></span>
							<span class="price">$23</span>
							<img src="{$Think.const.IMG_URL}product6.png" alt="Item"/>
							<a href="#" class="general-button float-left"><span class="button">Add to cart</span></a>
							<span class="list-link">
								<a href="details.html" class="regular">View more...</a>
							</span>
							<br class="clear"/>
						</div>
						
						<div class="single-item">
							<span class="title"><a href="details.html">Delight in Orange and Yellow</a></span>
							<span class="price">$129.90</span>
							<img src="{$Think.const.IMG_URL}product3.png" alt="Item"/>
							<a href="#" class="general-button float-left"><span class="button">Add to cart</span></a>
							<span class="list-link">
								<a href="details.html" class="regular">View more...</a>
							</span>
							<br class="clear"/>
						</div>
					  </div>
					  
				   </div>
				   
				   <!-- End -->
				   
				</div>

				<br class="clear"/>
			</div>

		</div>
		<div class="shadow"></div>
		<!-- Bestsellers End -->
		
		<div class="content-top blog-home"></div>
		<div class="content-inner home">
			
			<!-- Gallery Begin -->
			<div class="one-half float-left">
				<h3>Browse Our Gallery</h3>
				
				<a href="{$Think.const.IMG_URL}big01.jpg" rel="group4" class="grouped-elements" title="Lorem ipsum dolor sit amet, consecteur adipsing elit. Phasellus elefend, enim non euismod lacinia, urna odio convallis urna, eu comodo mi risus non orci.">
					<img border="0" alt="" src="{$Think.const.IMG_URL}01.jpg" class="portfolio-image">
					<span class="imagehover"></span>
				</a>
				<a href="{$Think.const.IMG_URL}big02.jpg" rel="group4" class="grouped-elements" title="Lorem ipsum dolor sit amet, consecteur adipsing elit. Phasellus elefend, enim non euismod lacinia, urna odio convallis urna, eu comodo mi risus non orci.">
					<img border="0" alt="" src="{$Think.const.IMG_URL}02.jpg" class="portfolio-image">
					<span class="imagehover"></span>
				</a>
				<a href="{$Think.const.IMG_URL}big03.jpg" rel="group4" class="grouped-elements" title="Lorem ipsum dolor sit amet, consecteur adipsing elit. Phasellus elefend, enim non euismod lacinia, urna odio convallis urna, eu comodo mi risus non orci.">
					<img border="0" alt="" src="{$Think.const.IMG_URL}03.jpg" class="portfolio-image">
					<span class="imagehover"></span>
				</a>
				<a href="{$Think.const.IMG_URL}big04.jpg" rel="group4" class="grouped-elements" title="Lorem ipsum dolor sit amet, consecteur adipsing elit. Phasellus elefend, enim non euismod lacinia, urna odio convallis urna, eu comodo mi risus non orci.">
					<img border="0" alt="" src="{$Think.const.IMG_URL}04.jpg" class="portfolio-image">
					<span class="imagehover"></span>
				</a>
				<a href="{$Think.const.IMG_URL}big05.jpg" rel="group4" class="grouped-elements" title="Lorem ipsum dolor sit amet, consecteur adipsing elit. Phasellus elefend, enim non euismod lacinia, urna odio convallis urna, eu comodo mi risus non orci.">
					<img border="0" alt="" src="{$Think.const.IMG_URL}05.jpg" class="portfolio-image">
					<span class="imagehover"></span>
				</a>
				<a href="{$Think.const.IMG_URL}big06.jpg" rel="group4" class="grouped-elements" title="Lorem ipsum dolor sit amet, consecteur adipsing elit. Phasellus elefend, enim non euismod lacinia, urna odio convallis urna, eu comodo mi risus non orci.">
					<img border="0" alt="" src="{$Think.const.IMG_URL}06.jpg" class="portfolio-image">
					<span class="imagehover"></span>
				</a>
				<a href="{$Think.const.IMG_URL}big03.jpg" rel="group4" class="grouped-elements" title="Lorem ipsum dolor sit amet, consecteur adipsing elit. Phasellus elefend, enim non euismod lacinia, urna odio convallis urna, eu comodo mi risus non orci.">
					<img border="0" alt="" src="{$Think.const.IMG_URL}03.jpg" class="portfolio-image">
					<span class="imagehover"></span>
				</a>
				<a href="{$Think.const.IMG_URL}big01.jpg" rel="group4" class="grouped-elements" title="Lorem ipsum dolor sit amet, consecteur adipsing elit. Phasellus elefend, enim non euismod lacinia, urna odio convallis urna, eu comodo mi risus non orci.">
					<img border="0" alt="" src="{$Think.const.IMG_URL}01.jpg" class="portfolio-image">
					<span class="imagehover"></span>
				</a>
				<a href="{$Think.const.IMG_URL}big04.jpg" rel="group4" class="grouped-elements" title="Lorem ipsum dolor sit amet, consecteur adipsing elit. Phasellus elefend, enim non euismod lacinia, urna odio convallis urna, eu comodo mi risus non orci.">
					<img border="0" alt="" src="{$Think.const.IMG_URL}04.jpg" class="portfolio-image">
					<span class="imagehover"></span>
				</a>
			</div>
			<!-- Gallery End -->
			
			<!-- Recent Posts Begin -->
			<div class="one-half float-right">
				<h3>Latest News or Blog Posts</h3>
				
				<div class="blog-post-home-title">
					<div class="blog-home-date float-left">
						<div class="date-number">23<br/>Feb</div>
					</div>
					<div class="blog-post-home-title-inner">
						<a href="blog_single.html" class="title">Lorem ipsum dolor sit amet, consectetur elit. Nulla sit amet nunc non nibh faucibus dictum.</a>
					</div>
				</div>
				
				<p class="post-content">
				Lorem ipsum dolor sit amet, consecteur adipsing elit. Phasellus elefend, enim non euismod lacinia, urna odio convallis urna, eu comodo mi risus non orci. Nullam eu sapien ipsum, non adipiscing lacus. Suspendisse tempus purus et diam consequat volutpat. <a href="blog_single.html" class="regular">View more...</a>
				</p>
				
				<div class="blog-post-home-title">
					<div class="blog-home-date float-left">
						<div class="date-number">20<br/>Feb</div>
					</div>
					<div class="blog-post-home-title-inner">
						<a href="blog_single.html" class="title">Integer mattis accumsan dui vel sodales. In id ante lobortis nisi pretium pretium.</a>
					</div>
				</div>
				
				<p class="post-content-last">
				Nunc porta turpis vitae tellus pulvinar dapibus. Morbi ut leo sapien, vel vulte orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. <a href="blog_single.html" class="regular">View more...</a>
				</p>
			</div>
			<br class="clear"/>
		</div>
		<!-- Recent Posts End -->
		
		<div class="shadow"></div>
		
		<!-- Bullet List Begin -->
		<div class="bullet-list float-left">
			<h4>Providing High Quality Products</h4>
			<p>Nunc porta turpis vitae tellus pulvinar dapibus. Morbi ut leo sapien, vel vulte orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
			<ul class="bullet-list">
				<li class="first">Suspendisse potenti. Fusce sed nisi enim, et tincidunt nunc</li>
				<li>Vestibulum sed sapien quam, et iaculis ipsum</li>
				<li>Lorem ipsum dolor sit amet, elit.</li>
				<li>Phasellus eleifend, enim non esmod lacinia, urna odio convallis urna</li>
			</ul>
		</div>
		<!-- Bullet List End -->
		
		<!-- Bullet List Begin -->
		<div class="bullet-list float-right">
			<h4>Many Great Features</h4>
			<p class="icon-list-1">Lorem ipsum dolor amet, consecteur adipsing elit. Phasellus efend, enim non euismod lacinia, urna odio convallis urna, eu comodo mi non orci. Nullam eu sapien ipsum, non adipiscing lacus.</p>
			<p class="icon-list-2">Nunc porta turpis vitae tellus pulvinar dapibus. Morbi ut leo sapien, vel vulte orci. Class sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. </p>
			<p class="icon-list-3">Sed aliquet urna eu diam malesuada egestas nisl faucibus. Vivamus dui libero, pharetra eget vehicula vel, laoreet a arcu. Sed ac maURLs massa. Praesent rutrum condimentum dolor.</p>
		</div>
		<!-- Bullet List End -->
		
		<br class="clear"/>

	</div>
	
